

    <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="x_panel">
            <ul id="tabs">
                <li><a href="/#/Map" title="tab1">Sort location</a></li>
                <li><a href="/#/MapByName" title="tab2">Sort name</a></li>
            </ul>
            <div class="google-maps">
                <iframe src="http://localhost:51813/Map/Map2"
                        width="735" height="455" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
    <!-- END GOOGLE WORLD MAP-->

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>Map <small>Sort By Location</small></h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="scrollArea">               
                <a href="/#/Infor">
                    <div class="row">
                        <div class="timeline-item-content" style="width: 100%; height: 100px">
                            <div class="timeline-heading">
                                <h5 style="color:darkred"><strong>โออิชิบุฟเฟ่ต์ แฟชั่นไอซ์แลนด์</strong></h5>
                            </div>
                            <div class="timeline-body">
                                <img src="~/Images/map/oishi-grand.jpg" class="img-text" width="150" align="left" />
                                <p>ชั้น B ศูนย์การค้าแฟชั่นไอส์แลนด์</p>
                                <p>ถ.รามอินทรา</p>

                                <div class="timeline-footer">
                                    <h5 href="/#/Infor"><strong>Read more</strong></h5>
                                    <h6 class="pull-right">7.0 กม.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="/#/Infor">
                    <div class="row">
                        <div class="timeline-item-content" style="width: 100%; height: 100px">
                            <div class="timeline-heading">
                                <h5 href="#" style="color:darkred"><strong>โออิชิราเมน เดอะมอลล์บางกะปิ</strong></h5>
                            </div>
                            <div class="timeline-body">
                                <img src="~/Images/map/bangcare.jpg" class="img-text" width="150" align="left" />
                                <p>เดอะมอลล์บางกะปิ ชั้น G ถ.ลาดพร้าว</p>
                                <div class="timeline-footer">
                                    <h5 href="#"><strong>Read more</strong></h5>
                                    <h6 class="pull-right">8.7 กม.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="/#/Infor">
                    <div class="row">
                        <div class="timeline-item-content" style="width: 100%; height: 100px">
                            <div class="timeline-heading">
                                <h5 href="#" style="color:darkred"><strong>ชาบูชิ เดอะมอลล์บางกะปิ</strong></h5>
                            </div>
                            <div class="timeline-body">
                                <img src="~/Images/map/square.jpg" class="img-text" width="150" align="left" />
                                <p>เดอะมอลล์บางกะปิ ชั้น G ถ.ลาดพร้าว</p>
                                <div class="timeline-footer">
                                    <h5 href="#">
                                        <strong>Read more</strong>
                                    </h5>
                                    <h6 class="pull-right">8.7 กม.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="/#/Infor">
                    <div class="row">
                        <div class="timeline-item-content" style="width: 100%; height: 100px">
                            <div class="timeline-heading">
                                <h5 href="#" style="color:darkred"><strong>ชาบูชิ เดอะมอลล์งามวงศ์วาน</strong></h5>
                            </div>
                            <div class="timeline-body">
                                <img src="~/Images/map/pin.jpg" class="img-text" width="150" align="left" />
                                <p>	เดอะมอลล์งามวงศ์วาน ชั้น G </p>
                                <div class="timeline-footer">
                                    <h5 href="#">
                                        <strong>Read more</strong>
                                    </h5>
                                    <h6 class="pull-right">13.6 กม.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="/#/Infor">
                    <div class="row" href="/#/Infor">
                        <div class="timeline-item-content" style="width: 100%; height: 100px">
                            <div class="timeline-heading">
                                <h5 href="#" style="color:darkred"><strong>โออิชิราเมน ยูเนียนมอลล์</strong></h5>
                            </div>
                            <div class="timeline-body">
                                <img src="~/Images/map/bigc4.jpg" class="img-text" width="150" align="left" />
                                <p>ศูนย์การค้ายูเนี่ยนมอลล์ ซ.ลาดพร้าว1 </p>
                                <p>แขวงจอมพล เขตจตุจักร</p>
                                <div class="timeline-footer">
                                    <h5 href="#">
                                        <strong>Read more</strong>
                                    </h5>
                                    <h6 class="pull-right">16.8 กม.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
              
            

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Complex icons</title>
    <style>
        .google-maps {
            position: relative;
            padding-bottom: 70%;
            // This is the aspect ratio height: 0;
            overflow: hidden;
        }

            .google-maps iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
            }

        #scrollArea {
            height: 445px;
            overflow: auto;
        }
    </style>



    <script src="~/MemberJS/tab.js"></script>
    <link href="~/css/tab.css" rel="stylesheet" />

