<!DOCTYPE html>
<html lang="en" class="body-full-height" ng-app="Member">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="~/css/map.css" rel="stylesheet" />
    <marker animation="DROP" position="current-location"></marker>
</head>
<body>

    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div ng-controller="Map2Controller">
                    <div id="map" style="width:100%"></div>
                    <marker animation="DROP" position="current-location"></marker>
                    <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
                        @*<a id="country_container">*@
                            <label href="#" ng-click="openInfoWindow($event, marker)" id="names">{{ marker.title }}</label>
                        @*</a>*@
                    </div>
                </div>
            </div>           
        </div>
        <!-- END GOOGLE WORLD MAP-->
    </div>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-translate.js"></script>
    <script src="~/Template/vendors/jquery/dist/jquery.min.js"></script>
    <script data-require="ui-bootstrap@1.0.0" data-semver="1.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.0/ui-bootstrap-tpls.js"></script>


    <script src="~/Template/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/MemberJS/app.js"></script>
    <script src="~/MemberJS/map2.js"></script>
    <script src="~/MemberJS/qrcode.js"></script>
    <script src="~/MemberJS/angular-qr.js"></script> 
    <script src="~/MemberJS/barcodeGenerator.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8IGKMUWQo5jUlPv7q9wfNOAFBHRLFlVs&callback=initMap"
            async defer></script>

</body>
</html>
