

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- START GOOGLE WORLD MAP -->


            <div class="x_title">
                <h5><a href="#/Infor"><span class="fa fa-arrow-circle-o-left"></span>{{ 'Back' | translate }}</a></h5>
            </div>

            <div class="google-maps">
                <iframe src="http://localhost:51813/Map/Navigate2"
                        width="735" height="800" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
    <!-- END GOOGLE WORLD MAP-->

<script src="~/MemberJS/app.js"></script>
<script src="~/MemberJS/navigate.js"></script>

<style>
    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

    .google-maps {
        position: relative;
        padding-bottom: 100% !important;
        // This is the aspect ratio height: 0;
        overflow: hidden;
    }

        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
</style>


<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/angular-sanitize.js"></script>
<script src="~/Scripts/angular-translate.js"></script>
<script src="~/Template/vendors/jquery/dist/jquery.min.js"></script>
