
<!DOCTYPE html>
<html>
<head>
    <title>Demo 1 - Menucool Image Slider</title>
    <link href="~/css/js-image-slider.css" rel="stylesheet" />
    <script src="~/MemberJS/js-image-slider.js"></script>
    <link href="~/css/generic.css" rel="stylesheet" />
    <script src="~/Template/vendors/jquery/dist/jquery.min.js"></script>
</head>

<body>

    <div id="slider">
        <img src="~/Images/map/oishi-grand.jpg" />
        <img src="~/Images/map/oishigrand2.png" />
        <img src="~/Images/map/oishigrandpr2015.jpg" />
    </div>

</body>
</html>