<!DOCTYPE html>
<html lang="en" ng-app="Member">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gentellela Alela! | </title>
    <!-- Bootstrap -->
    <link href="~/Template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Template/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Template/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/Template/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Template/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Template/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login" bgcolor="PaleGreen">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form" >
                <img src="~/Images/register/oishi_logo_sm.png" class="img-responsive center-block">
                <section class="login_content">
                    <form>
                        <h1>Login</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>  
                        
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <a href="#" class="btn btn-default btn-block"><span class="fa fa-sign-in"></span> Log In</a>
                            </div>
                            <div class="col-md-6">
                                <a href="/Register/register" class="btn btn-default btn-block"><span class="fa fa-edit"></span> Create an account</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="login-or">OR</div>
                            <div class="form-group">

                                <div class="col-md-6 col-sm-6" >
                                    <a href="/Register/register" class="btn btn-default btn-block btn-facebook"><span class="fa fa-facebook"></span> Facebook</a>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <a href="/Register/register" class="btn btn-default btn-block btn-google"><span class="fa fa-google-plus"></span> Google</a>
                                </div>
                            </div>
                            
                            </div>
                            

                        
                        </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>


    

           




    





