<!DOCTYPE html>
<html lang="en" ng-app="Member">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oishi Member</title>
    <!-- Bootstrap -->
    <link href="~/Template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Template/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Template/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/Template/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Template/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Template/build/css/custom.min.css" rel="stylesheet">

</head>

<body class="login" bgcolor="PaleGreen" ng-controller="LoginController">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form" >
                <img src="~/Images/register/oishi_logo_sm.png" class="img-responsive center-block">
                <section class="login_content">
                    <form>
                        <h1>Login</h1>
                        <div>
                            <input type="text" class="form-control" ng-model="main.username" placeholder="Username"  required="" />
                        </div>  
                        
                        <div>
                            <input type="password" class="form-control" ng-model="main.password" placeholder="Password" required="" />
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <a ng-click="login(main)" class="btn btn-default btn-block alert-success"><span class="fa fa-sign-in"></span> Log In</a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <a href="/Register/register" class="btn btn-default btn-block alert-success"><span class="fa fa-edit"></span> Create an account</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        
                            <div class="login-or" style="font-size:16px"  >or connect with</div>
                        <br />
                            <div class="form-group">

                                <div class="col-md-6 col-sm-6 col-xs-6" >
                                    <a href="/Register/register" class="btn btn-default btn-block alert-info"><span class="fa fa-facebook"></span> Facebook</a>
                                </div>
                                <div class="col-md-6 col-sm-6  col-xs-6">
                                    <a href="/Register/register" class="btn btn-default btn-block alert-danger"><span class="fa fa-google-plus"></span> Google</a>
                                </div>
                            </div>
                            
                        </form>
                </section>
            </div>
        </div>
    </div>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/MemberJS/app.js"></script>
    <script src="~/MemberJS/login.js"></script>

    <script data-require="ui-bootstrap@1.0.0" data-semver="1.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.0/ui-bootstrap-tpls.js"></script>

</body>
</html>


    

           




    





