<!DOCTYPE html>
<html lang="en" ng-app="Member">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oishi Member</title>
    <!-- Bootstrap -->
    <link href="~/Template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Template/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Template/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/Template/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Template/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Template/build/css/custom.min.css" rel="stylesheet">
    <style>
        .bg {
            background-image: url('../../Images/Register/oishi2.png');
            width: 100%;
            height: auto;
        }
        .center {
            text-align: center;
        }
        h2 ,p {
            color:white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->


            <div class="login_wrapper">
                <div class="animate form login_form">

                    <h2><span class="fa fa-plus-circle"><strong> Add your card</strong></span></h2>
                    <p>Enter your card number and pin code.</p>
                    <section class="login_content">
                        <form class="bg img-rounded" align="center" style="width:100%; height:290px">
                            

                            <span id="reauth-email" class="reauth-email"></span>
                            <br><br><br><br>
                            <input type="number" id="inputNumber" class="form-control" placeholder="Card Number" required autofocus>
                            <br>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Pin Number" required>

                            <div>
                                <a href="#/Point" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">
                                <strong>Submit</strong></a>
                            </div>
                            <!-- /form -->

                        </form>
                    </section>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h4><a href="/Register/register" style="color:white"><span class="fa fa-arrow-circle-o-left" style="color:white"></span>Back</a></h4>
        </div>
    </div><!-- /card-container -->

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/MemberJS/app.js"></script>
    <script src="~/MemberJS/card.js"></script>
    <link href="~/css/card.css" rel="stylesheet" />
 
</body>
</html>
   

    
