<link href="~/css/card.css" rel="stylesheet" />
<div class="container" ng-controller="CardController">
    <div class="card card-container">
        <div class="login_wrapper">
            <div class="animate form login_form">

                <h2><span class="fa fa-plus-circle"> {{ 'Addcard' | translate }}</span></h2>
                <h5>{{ 'Enterpin ' | translate }}</h5>
                     
                <section class="login_content">

                    <form class="bg img-rounded" align="center" style="width:100%; height:290px">
                        <span id="reauth-email" class="reauth-email"></span>
                        <br><br><br><br>
                        <input type="number" id="inputNumber" class="form-control" placeholder="Card Number" required autofocus>
                        <br>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Pin Number" required>

                        <div>
                            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" 
                                    onclick="parent.location='/#/Point'"><strong>{{ 'Submit' | translate }} </strong></button>
                        </div>
                    </form>
                </section>
                  
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>        
        <h4><a href="/#/Point"><span class="fa fa-arrow-circle-o-left"></span> {{'Back' | translate }}</a></h4> 
    </div>
</div>


<style>
    .bg {
        background-image: url('http://203.150.94.101:8080/Resources/CardImages/Merchant-1/Brand-1/MemberCard-1.png');
        width: 100%;
        height: auto;    
    }
    .center {
        text-align: center;
    }
</style>

@*------------------------ Verify Card ------------------------------*@
<script>
        $('form').on("submit", function () {
            return false;
        });
        $('tr').on('click', function () {
        $(this).find('input[type=text], input[type=password]').focus();
});
</script>