<div class="panel panel-default" role="main" ng-controller="EditController">
    <div class="clearfix"></div>
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ 'Profile' | translate }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ 'Title' | translate }}
                                <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control"  ng-model="memberDetails.title" required="required">
                                    <option value="">{{ 'SelectTitle' | translate }}</option>
                                    <option value="mrs">{{ 'Mrs' | translate }}</option>
                                    <option value="ms">{{ 'Ms' | translate }}</option>
                                    <option value="mr">{{ 'Mr' | translate }}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name" >
                                {{ 'Firstname' | translate }}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="firstname" ng-model="memberDetails.firstName" 
                                       required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                 {{ 'Lastname' | translate }}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="lastname" ng-model="memberDetails.lastName" name="lastname" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="gender" class="control-label col-md-3 col-sm-3 col-xs-12">
                                {{ 'Gender' | translate }}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p>
                                    <input class="flat iradio_flat-green" ng-model="memberDetails.gender" type="radio" 
                                           name="gender" id="genderM" value="1" checked="" required="required" />
                                            {{ 'Male' | translate }}
                                    <input class="flat iradio_flat-green" ng-model="memberDetails.gender" type="radio" 
                                           name="gender" id="genderF" value="2" /> 
                                            {{ 'Female' | translate }}
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">
                                {{ 'Address1' | translate }}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="address" ng-model="memberDetails.address1" 
                                       name="address" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">
                                {{ 'Address2' | translate }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="address" ng-model="memberDetails.address2" 
                                       name="address" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                {{ 'City' | translate }}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" ng-model="memberDetails.city" required="required">
                                    <option value="">{{ 'SelectCity' | translate }}</option>
                                    <option value="1">{{ 'Bangkok' | translate }}</option>
                                    <option value="2">{{ 'ChiangMai' | translate }}</option>
                                    <option value="3">{{ 'Krabi' | translate }}</option>
                                    <option value="4">{{ 'Phuket' | translate }}</option>
                                    <option value="5">{{ 'Ubon' | translate }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zipcode">
                                {{ 'Zipcode' | translate }}
                                <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" ng-model="memberDetails.zipCode" id="zipcode" name="zipcode" 
                                       ng-required="true" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">
                                {{ 'Mobile' | translate }}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" ng-model="memberDetails.mobileNo"id="phone" name="phone" 
                                       required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">
                                {{ 'Email' | translate }}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="email" ng-model="memberDetails.email" class="form-control has-feedback-left" 
                                       id="email" placeholder="example@email.com" required="required">
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                {{ 'Birthday' | translate }}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="col-xs-12" style="padding-left:0px;padding-right: 0px;">
                                    <div class="control-group">
                                        <div class="input-group">
                                            <input type="text" ng-model="memberDetails.birthday" 
                                                   class="form-control datepicker ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-valid-date ng-valid-required ng-touched" 
                                                   ng-click="openStart()" min-date="minStartDate" max-date="maxStartDate" uib-datepicker-popup="dd-MM-yyyy" 
                                                   ng-model="start" is-open="popupStart.opened" datepicker-options="dateOptions" ng-required="true" 
                                                   close-text="Close" show-button-bar="false" required="required" />
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">
                                {{ 'Picture' | translate }}
                                <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="input-group">
                                    <br>
                                    <img id="blah" src="~/Images/register/user_sm.png" 
                                         class="img-circle img-responsive center-block" style="width:50%">
                                    <br><br>
                                    <input type="file" ng-model="memberDetails.imgUrl" 
                                           class="align:center" onchange="readURL(this);">
                                </div>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a href="/Point" class="btn btn-primary pull-right">{{ 'Cancal' | translate }}</a>
                                <button type="submit" onclick="parent.location='/#/Point'" 
                                        class="btn btn-success pull-right">{{ 'Submit' | translate }}</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/angular-sanitize.js"></script>
<script src="~/Scripts/angular-translate.js"></script>
<script src="~/MemberJS/app.js"></script>
<script src="~/MemberJS/editmember.js"></script>
<script src="~/MemberJS/picture.js"></script>
<script src="~/MemberJS/translate.js"></script>
<script data-require="ui-bootstrap@1.0.0" data-semver="1.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.0/ui-bootstrap-tpls.js"></script>


