<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/png" href="img/logo.png">
<style>

    [ng-cloak] { display: none; }

    .ribbon-wrapper {
      width: 85px;
      height: 88px;
      overflow: hidden;
      position: absolute;
      top: -3px;
      right: -3px;
    }

    .ribbon {
      font: bold 15px Sans-Serif;
      color: #333;
      text-align: center;
      text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
      -webkit-transform: rotate(45deg);
      -moz-transform:    rotate(45deg);
      -ms-transform:     rotate(45deg);
      -o-transform:      rotate(45deg);
      position: relative;
      padding: 7px 0;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: rgb(229,42,58);
      color: white;
    }

    .love {
      display: inline-block;
      position: relative;
      top: .2em;
      font-size: 1.2em;
      color: white;
      -webkit-transform: scale(.9);
      -moz-transform: scale(.9);
      transform: scale(.9);
      -webkit-animation: love .5s infinite linear alternate-reverse;
      -moz-animation: love .5s infinite linear alternate-reverse;
      animation: love .5s infinite linear alternate-reverse;
    }

    .code {
      padding: 2px 10px;
      background-color: rgb(29,31,33);
      color: rgb(175,186,183);
      font-family: 'Droid Sans Mono', 'Titillium Web', sans-serif;
      font-size: 14px;
    }

    .code-prompt {
      font-weight: bold;
    }

    .code-vial {
      color: rgb(108,143,167);
    }

    .code-yellow {
      color: rgb(230,151,70);
    }

    .textarea {
      width: 100%;
      height: 100px;
      resize: vertical;
      font-family: 'Droid Sans Mono', 'Titillium Web', sans-serif;
      font-size: 28px;
      line-height: 40px;
    }

    .range {
      width: 100%;
    }

</style>
<div class="row" ng-controller="PointController">
    <form class="form-horizontal">
        <ul id="tabs">
            <li><a href="#/Point/" title="Latest" >{{ 'MemberCard' | translate }} </a></li>
            <li><a href="#/Giftcard" title="Unread" >{{ 'Giftcard' | translate }} </a></li>
        </ul>
        <button type="button" class="btn btn-info btn-circle btn-sm pull-right" data-toggle="tooltip" data-placement="top" title="Add Card" onclick="parent.location='#/Card'">
             <i class="glyphicon glyphicon-plus"></i>
        </button>
     <div ng-show="cardsStatus == 1 && IsGiftCard==1">
          <div class="x_panel">
              <span class="glyphicon-plus"></span>
              <p> Plus button to add your cards</p>
          </div>
      </div>  
        <div ng-show="cardsStatus == 1 && IsGiftCard==0">
            <div class="x_panel">
                <center>
                    <p></p>
                    <p>You don't have giftcard.</p>
                    <p></p>
                </center>
            </div>
        </div>

        <div class="panel-body list-group-item" href="" ng-repeat="detail in memberCardDetails|filter:{isGiftCard:IsGiftCard}" ng-show="cardsStatus == 0">
            <div class="col-md-5 col-sm-6">
                <div class="widget-item-left">
                    <div class="timeline-item-content">
                        <div ng-if="detail.isGiftCard==1">
                            <img src={{PathImage2}} class="img-responsive img-thumbnail img-rounded">
                        </div>
                        <div ng-if="detail.isGiftCard==0">
                            <a ng-if="detail.cardTypeId==1">
                                <img src={{PathImage1}} class="img-responsive img-thumbnail img-rounded">
                            </a>
                            <a ng-if="detail.cardTypeId==2">
                                <img src={{PathImage3}} class="img-responsive img-thumbnail img-rounded">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-md-7 col-sm-6 ">
                <div class="widget-item-right">
                    <div class="text-left">
                        <h4>
                            <span class="fa fa-user" style="color:black"> 
                            {{'Cardnumber' | translate}} :</span> {{detail.cardNo}}
                        </h4>
                        <h4>
                            <span class="fa fa-credit-card" style="color:black"> 
                            {{'Cardname' | translate}} :</span>{{detail.cardTypeName}}
                        </h4>
                        <div>
                            <h4 ng-show="detail.isStampType==1">
                                <span class="fa fa-heart" style="color:black">
                                    {{'Stamp' | translate}} :
                                </span> {{detail.cardBalance}}                            
                            </h4>
                            <h4 ng-show="detail.isStampType==0">
                                <span class="fa fa-gift " style="color:black">
                                    {{'Points' | translate}} :
                                </span> {{detail.cardPoint}}
                            </h4>
                        </div>
                        <h4>
                            <span class="fa fa-clock-o" style="color:black"> 
                            {{'Activatedate' | translate}} :</span> {{detail.cardActivateDate}}
                        </h4>
                        <h4>
                            <span class="fa fa-clock-o" style="color:black"> 
                            {{'Expiredate' | translate}} :</span> {{detail.cardExpireDate}}
                        </h4>

                    </div>
                </div>
                <button class="btn btn-info" ng-click="QRcode(detail.cardNo)" data-toggle="modal" data-target="#modal_basic"> {{'QRcode' | translate}}  </button>
                <button class="btn btn-info" data-toggle="modal" data-target="#modal_basic2"> {{'Barcode' | translate}}  </button>
                <button class="btn btn-info"> {{'History' | translate}} </button>
            </div>
        </div>
     </form>
</div>

@*------------------------------------------------ Modal QRcode --------------------------------------------*@
<div class="modal" id="modal_basic" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" align="center" ng-controller="PointController">
    <div class="modal-dialog" ng-init="QRcode()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'Close' | translate}}</span></button>
                <h4 class="modal-title" id="defModalHead">{{'QRcode' | translate}} </h4>
            </div>
            <div class="modal-body">
                <p>
                    <qr text="qrcodeString"></qr>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">{{'Close' | translate}} </button>
            </div>
        </div>
    </div>
</div>
@*------------------------------------------------ Modal Barcode -------------------------------------------*@
<div class="modal" id="modal_basic2" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" align="center">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'Close' | translate}}</span></button>
                <h4 class="modal-title" id="defModalHead">{{'Barcode' | translate}}</h4>
            </div>
            <div class="modal-body">
                <img src="~/Images/point/Barcode-card.png" class="img-responsive" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">{{'Close' | translate}}</button>
            </div>
        </div>
    </div>

</div>
@*--------------------------------------------------- Tooltip ----------------------------------------------*@
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
@*<script src="~/Scripts/angular.js"></script>

<script src="~/MemberJS/app.js"></script>
<script src="~/MemberJS/point.js"></script>
<script src="~/MemberJS/angular-qr.js"></script>
<script src="~/MemberJS/qrcode.js"></script>*@


