<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/png" href="img/logo.png">
<style>
    .btn-circle, .btn-sm {
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
        z-index: 1;
    }

    .btn-circle {
        box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
        border: .5em solid #00CED1;
        font-size: 1em;
        line-height: 1em;
        color: #ffffff;
        background-color: #00CED1;
        margin: auto;
        border-radius: 50%;
        position: relative;
        height: 4em;
        width: 4em;
    }

        .btn-circle:hover {
            color: #ffffff;
            background-color: #00CED1;
            text-decoration: none;
            border-color: #66CCFF;
        }

        .btn-circle:visited {
            color: #ffffff;
            text-decoration: none;
            background-color: #00CED1;
        }

    .modal-body {
        margin: 0 auto 0 auto;
        position: relative;
        padding: 15px;
        overflow-y: auto;
        transform: rotate(-90deg);
    }
</style>
<div class="row" ng-controller="PointController">
    <form class="form-horizontal">
        <h4><span class="fa fa-user"></span> {{memberDetails.firstName}} {{memberDetails.lastName}} </h4>
        <ul id="tabs">
            <li><a href="#/Point/" title="Latest">{{ 'MemberCard' | translate }} </a></li>
            <li><a href="#/Giftcard" title="Unread">{{ 'Giftcard' | translate }} </a></li>
        </ul>
        <button type="button" class="btn btn-info btn-circle btn-sm pull-right" data-toggle="tooltip" data-placement="top" title="Add Card" onclick="parent.location='#/Card'">
            <i class="glyphicon glyphicon-plus"></i>
        </button>

        <div ng-show="cardsStatus == null && IsGiftCard == 0">
            <div class="x_panel">
                <center>
                    <br /><br />
                    <p> You don't have card.</p>
                    <p><strong> If</strong> you have card.<strong> Please</strong> add card.</p>
                    <button class="btn btn-link btn-block" onclick="parent.location='#/Card'"><strong> Add card Now</strong></button>
                    <br /><br />
                 </center>
            </div>
        </div>
        <div ng-show="IsGiftCard == 1">
            <div class="x_panel">
                <center>
                    <br /><br />
                    @*<img id="nogiftcard" href="/#/Addcard" src={{PathImage4}}  class="img-responsive img-thumbnail img-rounded" >*@
                    <p>You don't have giftcard.</p>
                    <br /><br />
                </center>
            </div>
        </div>

        <div class="panel-body list-group-item" href="" ng-repeat="detail in memberCardDetails|filter:{isGiftCard:IsGiftCard}" ng-show="cardsStatus == 0">



            <div class="col-md-5 col-sm-6">
                <div class="widget-item-left">
                    <div class="timeline-item-content">
                        <div ng-if="detail.isGiftCard==1">
                            <img src={{PathImage2}} class="img-responsive img-thumbnail img-rounded">
                        </div>
                        <div ng-if="detail.isGiftCard==0">
                            <a ng-if="detail.cardTypeId==1">
                                <img src={{PathImage1}} class="img-responsive img-thumbnail img-rounded">
                            </a>
                            <a ng-if="detail.cardTypeId==2">
                                <img src={{PathImage3}} class="img-responsive img-thumbnail img-rounded">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-sm-6 ">
                <div class="widget-item-right">
                    <div class="text-left">
                        <h4>
                            <span class="fa fa-info-circle" style="color:black">
                                {{'Cardnumber' | translate}} :
                            </span> {{detail.cardNo}}
                        </h4>
                        <h4>
                            <span class="fa fa-credit-card" style="color:black">
                                {{'Cardname' | translate}} :
                            </span>{{detail.cardTypeName}}
                        </h4>
                        <div>
                            <h4 ng-show="detail.isStampType==1">
                                <span class="fa fa-heart" style="color:black">
                                    {{'Stamp' | translate}} :
                                </span> {{detail.cardBalance}}
                            </h4>
                            <h4 ng-show="detail.isStampType==0">
                                <span class="fa fa-gift " style="color:black">
                                    {{'Points' | translate}} :
                                </span> {{detail.cardPoint}}
                            </h4>
                        </div>
                        <h4>
                            <span class="fa fa-clock-o" style="color:black">
                                {{'Activatedate' | translate}} :
                            </span> {{detail.cardActivateDate}}
                        </h4>
                        <h4>
                            <span class="fa fa-clock-o" style="color:black">
                                {{'Expiredate' | translate}} :
                            </span> {{detail.cardExpireDate}}
                        </h4>

                    </div>
                </div>
                <button class="btn btn-info" data-toggle="modal" data-target="#modal_qr{{detail.cardId}}"> {{'QRcode' | translate}}  </button>
                <button class="btn btn-info" data-toggle="modal" data-target="#modal_barcode{{detail.cardId}}"> {{'Barcode' | translate}}  </button>
                <button class="btn btn-info"> {{'History' | translate}} </button>


                <div class="modal col-" id="modal_barcode{{detail.cardId}}" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" align="center">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'Close' | translate}}</span></button>
                                <h4 class="modal-title" id="defModalHead">{{'Barcode' | translate}}</h4>
                            </div>
                            <div class="modal-body img-responsive">
                                <br /><br />
                                <div barcode-generator="{{detail.cardNo}}" id="barcode" style="height:208px;width:390px;"></div>
                                <h4> {{detail.cardNo}}</h4>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">{{'Close' | translate}}</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal" id="modal_qr{{detail.cardId}}" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" align="center" ng-controller="PointController">
                    <div class="modal-dialog" ng-init="QRcode()">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'Close' | translate}}</span></button>
                                <h4 class="modal-title" id="defModalHead">{{'QRcode' | translate}} </h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    <qr text="detail.cardNo"></qr>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">{{'Close' | translate}} </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    @*------------------------------------------------ Modal QRcode --------------------------------------------*@


    @*------------------------------------------------ Modal Barcode -------------------------------------------*@

</div>
@*--------------------------------------------------- Tooltip ----------------------------------------------*@
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


<link href="~/css/barcode.css" rel="stylesheet" />