<!DOCTYPE html>
<html lang="en" ng-app="Member">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="398506059135-ksocfvjtrc37jn87mhahgsa4lh7nfkbj.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script src="https://plus.google.com/js/client:platform.js" async defer></script>
    <title>Oishi Member</title>
    <!-- Bootstrap -->
    <link href="~/Template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Template/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Template/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/Template/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Template/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Template/build/css/custom.min.css" rel="stylesheet">
    <link href="~/css/tab.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
   
   
    <style>
        .body {
            font-family: 'Kanit', sans-serif;
        }
    </style>

</head>

<body class="nav-md" ng-controller="EditController">
    <div class="container body" ng-controller="langCtrl">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <br />
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#/Point" class="site_title" @*onclick="window.parent.location.reload();*@">
                            <div align="center">
                                <img src="~/Images/register/oishi_logo_sm.png" class="pull-left" style="width:50px; top:20px;" />OISHI GROUP
                            </div>
                        </a>
                    </div><div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img ng-src="memberDetails.imgUrl" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>{{ 'Welcome' | translate}},</span>
                            <h2>{{memberDetails.firstName}}</h2>
                        </div>
                    </div>

                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>

                            <ul class="nav side-menu">
                                <li>
                                    <br />
                                </li>
                                <li>
                                    <a href="#/Point" @*onclick="parent.location.reload();"*@><i class="fa fa-credit-card"></i> {{ 'MemberCard' | translate}}</a>
                                </li>
                                <li>
                                    <a href="#/Editmember" @*onclick="parent.location.reload();"*@><i class="fa fa-edit"></i> {{ 'EditMember' | translate}} </a>
                                </li>
                                <li>
                                    <a href="#/News" @*onclick="parent.location.reload();"*@><i class="fa fa-bullhorn"></i> {{ 'News' | translate}} </a>
                                </li>

                                <li>
                                    <a href="#/Map " @*onclick="parent.location.reload();"*@><i class="fa fa-map-marker"></i> {{ 'Map' | translate}} </a>
                                </li>

                                <li>
                                    <a href="#/Feedback" @*onclick="parent.location.reload();"*@><i class="fa fa-star"></i> {{ 'Feedback' | translate}} </a>
                                </li>
                                @*<li>
                                    <button class="btn ng-scope" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN">{{ 'English' | translate}}</button>
                                </li>
                                <li>
                                    <button class="btn ng-scope" ng-click="changeLanguage('th')" translate="BUTTON_LANG_TH">{{ 'Thai' | translate}}</button>
                                </li>*@
                            </ul>
                        </div>
                        <div class="menu_section">

                        </div>
                    </div>
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img ng-src="memberDetails.imgUrl" alt="">{{memberDetails.firstName}}
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="#/Editmember">{{ 'EditProfile' | translate}}</a></li>
                                    <li>
                                        <a>
                                            {{ 'ChangeLanguage' | translate}}
                                            <img src="~/Images/language/USA__Icon_.png" class="ng-scope" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN">
                                            <img src="~/Images/language/thailand_icon_sm.png" class="ng-scope" ng-click="changeLanguage('th')" translate="BUTTON_LANG_TH" />
                                        </a>
                                    </li>

                                    <li><a id="fbLogout"  href="/Login/login" onclick="signOut(); fbLogout();"><i class="fa fa-sign-out pull-right"></i> 
                                        {{ 'LogOut' | translate}}</a></li>
                                    
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">3</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">

                                    <li>
                                        <a href="#/Detail">
                                            <span class="fa fa-square" style="color:#66CC33"></span>
                                            <span>
                                                <span class="message">พิธีเปิดงานเทศกาล Phuket Lobster Festival 2016</span>
                                                <span class="message">ฐาปน สิริวัฒนภักดี กรรมการผู้อำนวยการใหญ่เป็นประธานเปิดงานเทศกาล</span>
                                            </span>
                                        </a>

                                    </li>

                                    <li>
                                        <a href="#/Detail">
                                            <span class="fa fa-square" style="color:#66CC33"></span>
                                            <span>
                                                <span class="message">โออิชิ แกรนด์ เปิดตัวเมนูหรู “LOBSTER with LOVE”</span>
                                                <span class="message">จัดเทศกาล Phuket Lobster Festival 2016 at OISHI GRAND</span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#/Detail">
                                            <span class="fa fa-square" style="color:#66CC33"></span>
                                            <span>
                                                <span class="message">ประกาศรายชื่อผู้โชคดีจากแคมเปญ</span>
                                                <span class="message">OISHI – TRUE “FLY ME TO JAPAN” โชค 2 ชั้น...มันส์ถึงญี่ปุ่น! ปี 4</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a href="#/News">
                                                <strong>{{ 'SeeAllAlerts' | translate}}</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>

                                </ul>
                            <li>
                                <a href="#/Point" class="pull-left">
                                    <i class="glyphicon glyphicon-home"></i>
                                </a>
                            </li>

                        </ul>

                    </nav>

                </div>
            </div>


            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">

                <div class="x_content" ng-view></div>

            </div>

            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <a href="http://www.oishigroup.com/">OISHI GROUP</a>
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>

    <!-- /footer content -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-translate.js"></script>
    <script src="~/MemberJS/app.js"></script>

    <script data-require="ui-bootstrap@1.0.0" data-semver="1.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.0/ui-bootstrap-tpls.js"></script>

    <!-- jQuery -->
    <script src="~/Template/vendors/jquery/dist/jquery.min.js"></script>

    <script src="~/MemberJS/register.js"></script>
    <script src="~/MemberJS/editmember.js"></script>
    <script src="~/MemberJS/tab.js"></script>
    <script src="~/MemberJS/card.js"></script>
    <script src="~/MemberJS/map.js"></script>
    <script src="~/MemberJS/feedback.js"></script>
    <script src="~/MemberJS/login.js"></script>
    <script src="~/MemberJS/point.js"></script>
    <script src="~/MemberJS/navigate.js"></script>
    <script src="~/MemberJS/js-image-slider.js"></script>
    <script src="~/MemberJS/translate.js"></script>
    
    
    <script src="~/MemberJS/Infor.js"></script>
 

    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <!-- jQuery -->

    <script src="~/Template/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Template/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Template/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Template/vendors/nprogress/nprogress.js"></script>
    <!-- gauge.js -->
    <script src="~/Template/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Template/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Template/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Template/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Template/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Template/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Template/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Template/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Template/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Template/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Template/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Template/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Template/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Template/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Template/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Template/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Template/js/moment/moment.min.js"></script>
    <script src="~/Template/js/datepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Template/build/js/custom.min.js"></script>
    <!-- Flot -->
    <script data-require="ui-bootstrap@1.0.0" data-semver="1.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.0/ui-bootstrap-tpls.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8IGKMUWQo5jUlPv7q9wfNOAFBHRLFlVs&callback=initMap"
            async defer></script>
    @*-------------------------------- Log out Google ---------------------------------*@
    <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out google.');
      });
    }

    window.onload = function () {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }
    </script>
    @*-------------------------------- Log out Facebook ---------------------------------*@
    

    <script>
     function fbLogout() {
        FB.logout(function (response) {
            //Do what ever you want here when logged out like reloading the page
            window.location.reload();
            console.log('User signed out facebook.');
        });
    }
    </script>

    <!-- bootstrap-daterangepicker -->
    <script>

        //function signOut() {
        //    var auth2 = gapi.auth2.getAuthInstance();
        //    auth2.signOut().then(function () {
        //        console.log('User signed out.');
        //        localStorage.removeItem('Details');
        //        localStorage.removeItem('status');
        //        console.log(localStorage);
        //        debugger;
        //        parent.location = '/Login/login';
        //    });
        //}
        //function onLoad() {
        //    gapi.load('auth2', function () {
        //        gapi.auth2.init();
        //    });
        //}


        $(document).ready(function () {

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            };

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });
        });
    </script>
    <!-- /bootstrap-daterangepicker -->

</body>
</html>
