

<div ng-controller="feedbackController">
    <div id="head" class="panel-heading ui-draggable-handle" style="background-color:darkred">
        <h1 class="panel-title" style="color:white" align="center"><strong>{{ 'Feedback' | translate }}</strong></h1>
    </div>



    <div class="x_panel">
                <div class="">
                    <h5 class="panel-title" style="color:lightseagreen"><strong>{{ 'Branch' | translate }}</strong></h5>
                </div>
                <br>
                <div class="row">
                    <div class="form-group">

                        <h5 class="col-md-1 text-left" style="padding-top:7px;"><strong>{{ 'SelectBranch' | translate }}</strong></h5>

                        <div class="col-md-2 col-xs-9 ">
                            <select class="form-control select" style="align-content:center" ng-model="branch">
                                <option value="">{{ 'Select1' | translate }}</option>
                                <option value="1">{{ 'Select2' | translate }}</option>
                                <option value="2">{{ 'Select3' | translate }}</option>
                                <option value="3">{{ 'Select4' | translate }}</option>
                                <option value="4">{{ 'Select5' | translate }}</option>
                                <option value="5">{{ 'Select6' | translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>

                <div class="">
                    <h5 class="panel-title" style="color:lightseagreen;"><strong>{{ 'Quality' | translate }}</strong></h5>
                </div>

                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>
                                {{ 'Taste' | translate }}
                            </h5>
                            <div class="stars">
                                <form action="">
                                    <input class="star star-5" ng-model="star" value="5" id="star1" type="radio" name="star1" />
                                    <label class="star star-5" for="star1"></label>
                                    <input class="star star-4" ng-model="star" value="4" id="star2" type="radio" name="star1" />
                                    <label class="star star-4" for="star2"></label>
                                    <input class="star star-3" ng-model="star" value="3" id="star3" type="radio" name="star1" />
                                    <label class="star star-3" for="star3"></label>
                                    <input class="star star-2" ng-model="star" value="2" id="star4" type="radio" name="star1" />
                                    <label class="star star-2" for="star4"></label>
                                    <input class="star star-1" ng-model="star" value="1" id="star5" type="radio" name="star1" />
                                    <label class="star star-1" for="star5"></label>
                                </form>
                            </div>

                            <div>
                                <h5>
                                    {{ 'VarietyOfFood' | translate }}
                                </h5>

                                <div class="stars">
                                    <form action="">
                                        <input class="star star-5" ng-model="star1" value="5" id="star6" type="radio" name="star1" />
                                        <label class="star star-5" for="star6"></label>
                                        <input class="star star-4" ng-model="star1" value="4" id="star7" type="radio" name="star1" />
                                        <label class="star star-4" for="star7"></label>
                                        <input class="star star-3" ng-model="star1" value="3" id="star8" type="radio" name="star1" />
                                        <label class="star star-3" for="star8"></label>
                                        <input class="star star-2" ng-model="star1" value="2" id="star9" type="radio" name="star1" />
                                        <label class="star star-2" for="star9"></label>
                                        <input class="star star-1" ng-model="star1" value="1" id="star10" type="radio" name="star1" />
                                        <label class="star star-1" for="star10"></label>
                                    </form>
                                </div>

                                <div>
                                    <h5>
                                        {{ 'FreshnessOfFood' | translate }}
                                    </h5>
                                    <div class="stars">
                                        <form action="">
                                            <input class="star star-5" ng-model="star2" value="5" id="star-11" type="radio" name="star2" />
                                            <label class="star star-5" for="star-11"></label>
                                            <input class="star star-4" ng-model="star2" value="4" id="star-12" type="radio" name="star2" />
                                            <label class="star star-4" for="star-12"></label>
                                            <input class="star star-3" ng-model="star2" value="3" id="star-13" type="radio" name="star2" />
                                            <label class="star star-3" for="star-13"></label>
                                            <input class="star star-2" ng-model="star2" value="2" id="star-14" type="radio" name="star2" />
                                            <label class="star star-2" for="star-14"></label>
                                            <input class="star star-1" ng-model="star2" value="1" id="star-15" type="radio" name="star2" />
                                            <label class="star star-1" for="star-15"></label>
                                        </form>
                                    </div>

                                    <div>
                                        <h5>
                                            {{ 'Worthy' | translate }}
                                        </h5>
                                        <div class="stars">
                                            <form action="">
                                                <input class="star star-5" ng-model="star3" value="5" id="star-16" type="radio" name="star3" />
                                                <label class="star star-5" for="star-16"></label>
                                                <input class="star star-4" ng-model="star3" value="4" id="star-17" type="radio" name="star3" />
                                                <label class="star star-4" for="star-17"></label>
                                                <input class="star star-3" ng-model="star3" value="3" id="star-18" type="radio" name="star3" />
                                                <label class="star star-3" for="star-18"></label>
                                                <input class="star star-2" ng-model="star3" value="2" id="star-19" type="radio" name="star3" />
                                                <label class="star star-2" for="star-19"></label>
                                                <input class="star star-1" ng-model="star3" value="1" id="star-20" type="radio" name="star3" />
                                                <label class="star star-1" for="star-20"></label>
                                            </form>
                                        </div>
                                    </div>
                                    <div>
                                        <h5>
                                            {{ 'LookDelicious' | translate }}
                                        </h5>
                                        <div class="stars">
                                            <form action="">
                                                <input class="star star-5" ng-model="star4" value="5" id="star-21" type="radio" name="star" />
                                                <label class="star star-5" for="star-21"></label>
                                                <input class="star star-4" ng-model="star4" value="4" id="star-22" type="radio" name="star" />
                                                <label class="star star-4" for="star-22"></label>
                                                <input class="star star-3" ng-model="star4" value="3" id="star-23" type="radio" name="star" />
                                                <label class="star star-3" for="star-23"></label>
                                                <input class="star star-2" ng-model="star4" value="2" id="star-24" type="radio" name="star" />
                                                <label class="star star-2" for="star-24"></label>
                                                <input class="star star-1" ng-model="star4" value="1" id="star-25" type="radio" name="star" />
                                                <label class="star star-1" for="star-25"></label>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <button class="button button1" data-toggle="modal" data-target="#modal_basic2"><strong> {{ 'Send' | translate }}</strong></button>
                                     <!--   <button type="submit" class="button button1" ng-click="feedback(branch,star,star1,star2,star3,star4)"><strong> Send</strong></button>  -->
                                    </div>

                                    <div class="modal" id="modal_basic2" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" align="center">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header bg-header">
                                                    <button type="button" class="close" data-dismiss="modal" style="color:white"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="defModalHead" style="color:white">{{ 'Feedback' | translate }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <h2>{{ 'Thankyou' | translate }}</h2>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{ 'Close' | translate }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .button1 {
            border-radius: 8px;
        }

        .button1 {
            background-color: #4CAF50;
            color: white;
            border: 2px solid #4CAF50;
        }

            .button1:hover {
                background-color: white;
                color: #4CAF50;
            }

        .bg-header{
            background-color: darkred;
        }
    </style>



    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link href="~/css/star.css" rel="stylesheet" />

<script src="~/MemberJS/app.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/angular-sanitize.js"></script>
<script src="~/Scripts/angular-translate.js"></script>
<script data-require="ui-bootstrap@1.0.0" data-semver="1.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.0/ui-bootstrap-tpls.js"></script>
